
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=frugalware configuration
Exec=kdesu frugal-mono-tools
Terminal=false

GenericName=frugalware configuration
Comment=Tools to configure Frugalware
Icon=FrugalTools.png
Categories=Application;GTK;System;
OnlyShowIn=KDE;
