
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=frugalware configuration
Exec=gksu frugal-mono-tools
Terminal=false

GenericName=frugalware configuration
Comment=Tools for configure Frugalware
Icon=FrugalTools.png
Categories=Application;GTK;System;
OnlyShowIn=GNOME;
